#!/bin/bash

## user/job configuration (must be set here)
export ACCOUNT=swpc  # computational account
export QUEUE=batch      # computational queue
export JOBNAME=7bc540a0
export CDATE=2013031600   # initialization date (idate) for atmospheric/surface input (do not include the forecast hour for restarts!)

## note that initial conditions (WAM and IPE) should already exist in ROTDIR and be named appropriately.
## if you want the scripts to handle setting up the ROTDIR for you, you can define IC_DIR as below.
## it should contain both siganl/sfcanl valid for CDATE (e.g. s*anl.2017071400),
## and the appropriate IPE files (e.g. ipe_grid_*_params.$IPEDATETIME).
export IC_DIR=/scratch3/NCEPDEV/swpc/noscrub/Adam.Kubaryk/ICS/WAM-IPE/$CDATE

## additionally, when you move to RESTART=.true., you can define RESTARTDIR if you'd like
## it to not be in the default $ROTDIR/restart_directory.
#export RESTARTDIR=/swpc/noscrub/George.Millward/restart_directory

## IPEDATETIME defaults to ${CYEAR}${CMONTH}${CDAY}${CHOUR}00
## in the event that you are doing a RESTART=.true. run, it will select the matching date-time
## according to the restart file (+minute 00).
## if you are not using IPE files valid at CDATE or the restart file time (+minute 00),
## you can set IPEDATETIME as below.
#export IPEDATETIME=201704170000

## the scripts will select IPE files from wherever it can: ROTDIR, RESTARTDIR, or -- if defined --
## it will look in IPE_IC_DIR. by default, if IC_DIR is set, IPE_IC_DIR will automatically be
## set to the same thing. you can specificy otherwise here.
#export IPE_IC_DIR=/global/noscrub/Adam.Kubaryk

## general model options (must be set here)
export IDEA=.true.             # .true. for WAM, .false. for standalone IPE
export WAM_IPE_COUPLING=.true. # coupled system, only used if IDEA=.true.

## specific model configuration options (wam.config/exglobal)
export DELTIM=180 # model timestep

# WAM atm/sfc options
export FHMAX=24 # hours to forecast from input files. think of this as a segment length
export FHRES=1 # hours between writing restart files
export FHOUT=1 # frequency of standard history file output (hours)
export FHDFI=0 # half number of hours of digital filter initialization
# IPE output (ipe.config)
# IPEFREQ will default to DELTIM if unset but is required to be <=FHMAX and a multiple of DELTIM
export IPEFREQ=3600 # seconds between IPE output

## computational configuration (compute.config)
export WALLCLOCK=8:00:00 # minutes
export NPROCWAM=16
# below only used if WAM_IPE_COUPLING=.true.
export NPROCIPE=$((58*8))
export IPEDECOMP="58 8"
export NPROCMED=8

export med_model=swpc
