#!/bin/bash

## IPE
export VALID_IPE_PET=(1 2 4 5 16 20 40 80)

# filename config, default format is $*NAME.YYYYMMDDHHmm these days, but we pray for NetCDF output
export PLASMANAME=${PLASMANAME:-ipe_grid_plasma_params}
export NEUTRALNAME=${NEUTRALNAME:-ipe_grid_neutral_params}
export IPEBASESEARCH=${IPEBASESEARCH:-ipe_grid_*_params*}

## model-specific input directories
export GRIDDIR=${GRIDDIR:-$DATADIR/IPE} # where IPE grid is defined
export HWMPATH=${HWMPATH:-$BASE_NEMS # AMK PAY ATTENTION HERE
## model-specific input files
export IPEGRID=${IPEGRID:-$GRIDDIR/GIP_apex_coords_global_lowres_new20120705} # filename might vary over time and by machine

## model options
export IPEFREQ=${IPEFREQ:-3600} # output frequency, default to hourly
export IPEDECOMP=${IPEDECOMP:-"1 $NPROCIPE"}
export IPEDECOMPARR=($IPEDECOMP)

## IO
export IPE_IC_DIR=${IPE_IC_DIR:-$IC_DIR}
