#!/bin/bash

# defining some things for the restart files
export SIGR1=${SIGR1:-$RESTARTDIR/sigr1}
export SIGR2=${SIGR2:-$RESTARTDIR/sigr2}
export GRDR1=${GRDR1:-$RESTARTDIR/grdr1}
export GRDR2=${GRDR2:-$RESTARTDIR/grdr2}
export  SFCR=${SFCR:-$RESTARTDIR/sfcr}
if [ $IDEA = .true. ] ; then
	export FORT1051=${FORT1051:-$RESTARTDIR/fort.1051} # some restart file from weiyu, no idea what this is
fi

# altering FHINI and FHMAX
export FHINI=`$NEMSIOGET $GRDR1 nfhour | tr -s ' ' | cut -d' ' -f 3`
export FHROT=$FHINI
export FHMAX=$((10#$FHINI+10#$FHMAX)) # 10# allows for a leading zero
