#
# Resource file for OC parameters. 
# Emission factors in kg species / kg emissions (DM or species)
#

number_oc_classes:  2 
OC_regions:  ExtData/PIESA/sfc/ARCTAS.region_mask.x540_y361.2008.nc

# Indicate regions using a comma-delimited list of integers.
# To activate all land boxes, use -1, or all or global (not case sensitive)
# -------------------------------------------------------------------------
OC_regions_indices: global

# For all land boxes in a latitude range, set doZoneMasking to
# 1 then specify BOTH the south and north limits in degrees.
# WARNING: When set, zone masking OVERRIDES regions setting above!
# ----------------------------------------------------------------
doZoneMasking: 1
LatitudeSouth: 45.0
LatitudeNorth: 90.0


#                                 ---------------
#                                 Biomass Burning 
#                                 ---------------


# For emissions -- assume the units are kg m-2 s-1 of something
# Use emission factors to scale.  E.g., if emissions provided are
# OC already, the emission factor is 1; if the emissions are
# something else (like dry matter) then use an appropriate scaling
# factor


# Near real-time QFED: emission file provides kg OC m-2 s-1
# ---------------------------------------------------------
  bb_srcfilen: ExtData/PIESA/sfc/QFED/NRT/v2.4r6/Y%y4/M%m2/qfed2.emis_oc.005.%y4%m2%d2.nc4
  biomass_burning_emission_factor: 1.


#                               --------------------
#                               Other External Files
#                               --------------------

# Duncan -- in terms of DM
#  bf_srcfilen: /share/dasilva/fvInput/fvchem/c/duncan.biofuel_src.sfc.1971.nc
#  biofuel_emission_factor: 0.004

# RJP
  bf_srcfilen: /dev/null
  biofuel_emission_factor: 1.

# Anthropogenic (FF) emissions -- Cooke as 2 layers, RJP as single
# Cooke
#  ebcant1_srcfilen: /share/dasilva/fvInput/fvchem/c/cooke.anteoc_src.l1.1971.nc
#  ebcant2_srcfilen: /share/dasilva/fvInput/fvchem/c/cooke.anteoc_src.l2.1971.nc

# RJP
#  eocant1_srcfilen: ExtData/g5chem/sfc/harvard_rjpark.oc_fossilfuel.x360_y181_t12.1971.nc
#  eocant2_srcfilen: --

# Bond/Streets
  eocant1_srcfilen: /dev/null
  eocant2_srcfilen: /dev/null

# EDGAR based ship emissions of OC
  oc_ship_srcfilen: ExtData/g5chem/sfc/edgar.ship_oc_src.sfc.x360_y181.2007.nc

# Terpene emission
  terpene_srcfilen: /dev/null
  terpene_emission_fraction: 0.1

# Ratio of POM/OC -> convert source masses from carbon to POM
  pom_oc_ratio: 1.4

# Initially hydrophobic portion
  hydrophobic_fraction: 0.5

# Scavenging efficiency per bin [km-1]
fscav: 0.0  0.4   #  

# Dry particle density [kg m-3]
particle_density: 1800   1800

# Molecular weight of species [kg mole-1]
molecular_weight: 0.18  0.18

# Number of particles per kg mass
fnum: 9.76e17  9.76e17

# Number median radius [um]
particle_radius_number: 0.0212  0.0212

# Sigma of lognormal number distribution
sigma: 2.20  2.20
